<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.greengram4.user.UserMapper">
    <insert id="insUser" useGeneratedKeys="true" keyProperty="iuser">
        INSERT INTO t_user
        SET uid = #{uid},
        provider_type = #{providerType},
        upw = #{upw},
        nm = #{nm},
        pic = #{pic},
        role = #{role}
    </insert>

    <select id="selLoginInfoByUid">
        SELECT iuser, nm, pic, upw, role, provider_type AS providerType
        FROM t_user
        <where>
            <if test=" uid != null and uid !='' and providerType != null and providerType != '' ">
                uid = #{uid} AND provider_type = #{providerType}
            </if>
            <if test="iuser > 0">
                iuser = #{iuser}
            </if>
        </where>
    </select>

    <select id="selUserInfo">
        SELECT A.nm, A.pic, DATE(A.created_at) AS createdAt
        , COUNT(DISTINCT B.ifeed) AS feedCnt
        , COUNT(C.ifeed) AS favCnt
        , D.following, D.follower, D.followState
        FROM t_user A
        LEFT JOIN t_feed B
        ON A.iuser = B.iuser
        LEFT JOIN t_feed_fav C
        ON B.ifeed = C.ifeed
        INNER JOIN (
        SELECT
        SUM(if (from_iuser = #{targetIuser} ,1 ,0) ) AS following
        , SUM(if (to_iuser = #{targetIuser} ,1 ,0) ) AS follower
        , (SUM(CASE WHEN from_iuser = #{loginedIuser} AND to_iuser = #{targetIuser} THEN 1 ELSE 0 END)
        + SUM(CASE WHEN from_iuser = #{targetIuser} AND to_iuser = #{loginedIuser} THEN 2 ELSE 0 END)) AS followState
        FROM t_user_follow
        ) AS D
        WHERE A.iuser = #{targetIuser}
    </select>

    <update id="updUserFirebaseToken">
        UPDATE t_user
        SET firebase_token = #{firebaseToken}
        WHERE iuser = #{iuser}
    </update>

    <update id="updUserPic">
        UPDATE t_user
        SET pic = #{pic}
        WHERE iuser = #{iuser}
    </update>
</mapper>
